name: Backend CI

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Go environment
        uses: actions/setup-go@v4.0.0
        with:
          dir: 'server'
          cache-dependency-path: server/go.sum
      - run: go run ./server
